<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="NewSalesProject.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="SalesContextString" connectionString="data source=(LocalDB)\MSSQLLocalDB;initial catalog=NewSalesProject.Models.SalesContext;AttachDbFilename=&quot;C:\temp\SalesSystemDatabase.mdf&quot;;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <userSettings>
    <NewSalesProject.Properties.Settings>
      <setting name="CustomerDtGridProperties" serializeAs="String">
        <value>Default</value>
      </setting>
      <setting name="StoreDtGridProperties" serializeAs="String">
        <value>Default</value>
      </setting>
      <setting name="CustomerRankDtGridProperties" serializeAs="String">
        <value>Default</value>
      </setting>
      <setting name="CategoryDtGridProperties" serializeAs="String">
        <value>Default</value>
      </setting>
      <setting name="ProductDtGridProperties" serializeAs="String">
        <value>Default</value>
      </setting>
      <setting name="JPYRate" serializeAs="String">
        <value>210</value>
      </setting>
      <setting name="USDRate" serializeAs="String">
        <value>23000</value>
      </setting>
      <setting name="EURRate" serializeAs="String">
        <value>25000</value>
      </setting>
      <setting name="JPYTax" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="USDTax" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="EURTax" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="AssetDtGridProperties" serializeAs="String">
        <value>Default</value>
      </setting>
      <setting name="GoodsReceiptDtGridProperties" serializeAs="String">
        <value>Default</value>
      </setting>
    </NewSalesProject.Properties.Settings>
  </userSettings>
</configuration>